@import "./../../styles/vars.scss";

.modal {
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    overflow-y: scroll;
    z-index: 3;
}


.modal.active {
    opacity: 1;
    pointer-events: all;
} 


.modal__content {
    width: 50vw;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    transform: scale(0.5);
    transition: 0.4s all;

    height: 80vh;
    overflow-y: auto;

    @include media850Mixin {
        width: 100vw;
        height: 100vh;
    }

    @include media500Mixin {
        padding: 5px;
    }
    
}

.modal__content.active {
    transform: scale(1);
}